*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Utility Classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Navbar style */
.navbar {
  background: transparent;
  color: white;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.5s ease-in-out;
}

.navbar.navbar-scroll {
  background-color: rgba(235, 77, 85, 0.8);
  backdrop-filter: blur(10px);
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: 81px;
  height: 32px;
}

.navbar .main-menu-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}

.navbar a {
  color: #fff;
}

.navbar a:hover {
  color: var(--secondary-color);
}

.navbar i {
  font-size: 1.5rem;
}

/* Mobile Menu */
.mobile-menu {
  display: none;
}

.navbar .mobile-menu-toggle {
  color: #fff;
  cursor: pointer;
}

.navbar .mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.navbar .mobile-menu-items.active {
  transform: translateX(0);
}

.navbar .mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}

/* Navbar End */

/* Hero Section */
.hero-section {
  min-height: 100vh;
  background: url(../images/Hero.jpg) center/cover no-repeat;
}
/* End: Hero Section */

/* Responsive sizes */
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
