*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #20468a;
  --secondary-color: #25688e;
  --dark-shadow: #48505f;
  --light-snow: #fffcfd;
  --seagrass: #39a78d;
  --light-color: #f9fafb;
  --dark-color: #272d35;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Utility Classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.section {
  margin: 4rem 0;
}

/* Section Header */
.section-header {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
}

.section-header h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-color);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.section-header p {
  font-size: 1.3rem;
  color: var(--dark-color);
}

.heading-border {
  width: 64px;
  height: 4px;
  background: var(--primary-color);
  margin: 0 auto 2rem;
}

/* Navbar style */
.navbar {
  background: transparent;
  color: white;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.5s ease-in-out;
}

.navbar.navbar-scroll {
  background-color: rgba(235, 77, 85, 0.8);
  backdrop-filter: blur(10px);
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: 81px;
  height: 32px;
}

.navbar .main-menu-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}

.navbar a {
  color: #fff;
}

.navbar a:hover {
  color: var(--secondary-color);
}

.navbar i {
  font-size: 1.5rem;
}

/* Mobile Menu */
.mobile-menu {
  display: none;
}

.navbar .mobile-menu-toggle {
  color: #fff;
  cursor: pointer;
}

.navbar .mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.navbar .mobile-menu-items.active {
  transform: translateX(0);
}

.navbar .mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}

/* Navbar End */

/* Hero Section */
.hero-section {
  min-height: 100vh;
  background:
    linear-gradient(
      to top left,
      rgba(189, 195, 199, 0.9),
      rgba(44, 62, 80, 0.9)
    ),
    url(../images/Hero.jpg) center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-heading {
  color: var(--light-snow);
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.hero-paragraph {
  color: var(--light-color);
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
}
/* End: Hero Section */

/* About Section */
.about {
  padding: 3rem 0 4rem;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding-top: 1.5rem;
  margin-bottom: 3rem;
}

.about-grid-item h3 {
  text-transform: capitalize;
  font-size: 1.6rem;
  padding-bottom: 2rem;
  text-align: center;
  font-weight: 700;
}

.about-grid-item p {
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 1.3rem;
}

.img-grid-item,
.offer-img {
  border-radius: 10px;
  position: relative;
}

.img-grid-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1rem;
  left: -1rem;
  background: var(--primary-color);
  border-radius: 10px;
  z-index: -1;
}

.img-grid-item img,
.offer-img img {
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 3rem 0 3rem;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.service-card i {
  font-size: 1.8rem;
  color: var(--seagrass);
  padding: 1rem 0 2rem;
}

.service-card p {
  font-size: 1.3rem;
  padding-bottom: 1rem;
  text-align: center;
}

.offer {
  background: var(--light-color);
  padding: 3rem 0 3rem;
}

.offer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.offer-grid .offer-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1rem;
  left: -1rem;
  background: var(--primary-color);
  border-radius: 10px;
  z-index: -1;
}

.offer .list {
  background: var(--light-snow);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.offer .list-header {
  background-color: var(--seagrass);
  color: var(--light-snow);
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 1rem 0;
  border-radius: 5px;
  text-align: center;
}

.offer .list-item {
  padding: 1.4rem 0;
  border-bottom: 1px solid var(--dark-shadow);
  font-size: 1rem;
}

.contact {
  padding: 3rem 0;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.details-container {
  padding: 3rem 2rem;
}

.details-item {
  margin-bottom: 2rem;
}

.details-item h3 {
  font-size: 1.6rem;
  font-weight: 700;
}

.details-item a,
.details-item p {
  font-size: 1.3rem;
  margin-bottom: 5rem;
  color: var(--dark-color);
}

.contact .map-container {
  border-radius: 10px;
  position: relative;
}

.contact .map-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  border-radius: 10px;
  bottom: -1rem;
  right: -1rem;
  z-index: -1;
}

.contact .map-container iframe {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

/* Footer */
.footer {
  background: var(--primary-color);
  color: var(--light-snow);
  padding: 2rem 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-item i {
  font-size: 0.8rem;
}

.footer-item h3 {
  font-size: 0.8rem;
}

.footer-item p,
.footer-item a {
  font-size: 0.7rem;
  color: var(--light-color);
}

/* Responsive sizes */
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .hero-heading {
    font-size: 4rem;
    letter-spacing: 1px;
  }

  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .hero-heading {
    font-size: 3rem;
    letter-spacing: 1px;
  }

  .hero-paragraph {
    font-size: 1.5rem;
  }

  .about-grid {
    grid-template-columns: 1fr;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .offer-grid {
    grid-template-columns: 1fr;
  }

  .contact-grid {
    grid-template-columns: 1fr;
  }

  .about h3 {
    display: none;
  }
}

@media (max-width: 576px) {
  .hero-heading {
    font-size: 2.5rem;
  }

  .hero-paragraph {
    font-size: 1.5rem;
  }

  .img-grid-item::before {
    display: none;
  }

  .contact .map-container::before {
    display: none;
  }

  .footer-grid {
    grid-template-columns: 1fr;
  }
}
